.exchanger-widget {
  font-family: Arial;
  border: 1px solid black;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  width: 100%;
  max-width: 20rem;
  font-size: 0.8rem;
  line-height: 1rem; }
  .exchanger-widget h3 {
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1.6rem; }
  .exchanger-widget label {
    display: block; }
  .exchanger-widget input {
    height: 2.3rem;
    width: 50%;
    padding: 0.2rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem; }
  .exchanger-widget select {
    height: 2.3rem;
    width: 42%;
    padding: 0.2rem;
    float: right; }
  .exchanger-widget a {
    line-height: 2rem;
    float: right;
    margin-right: 0.5rem;
    bottom: 0.5rem; }

/*# sourceMappingURL=exchanger.css.map */
